---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import { galleries }  from "../data/galleries";

const ascensori = galleries.filter( (gallery) => gallery.category == 'Ascensori' || gallery.category == 'Incastellature');
const elevatori = galleries.filter( (gallery) => gallery.category == 'Elevatori' || gallery.category == 'Montacarichi');
---

<div class="bg-base-200 md:px-20 py-12"
    id="galleria"
>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 card card-compact max-w-7xl mx-auto">
        <div class="card-body">
            <div class="card-body">
                <div class="card-title justify-center text-primary text-2xl font-sans tracking-wider pb-6 uppercase">
                    Ascensori
                </div>
                <div class="swiper h-96 w-full">
                    <div class="swiper-wrapper">
                        {
                            ascensori[0].images.map( (image) => (
                                    <div class="swiper-slide">
                                        <img
                                            class="object-contain rounded object-top w-full h-full"
                                            src={`${ascensori[0].folder}${image}`}
                                        />
                                    </div>
                            ))
                        }
                    </div>
                    <div class="swiper-pagination"></div>
            
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="card-actions justify-center mt-6">
                    {
                        ascensori.map( (ascensore,id) => 
                            <button class="btn uppercase btn-xs btn-primary text-neutral-content"
                                onclick={`updateSlider(${galleries.indexOf(ascensore)})`}
                            >{ascensore.title}</button>
                        )
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="card-title justify-center text-primary text-2xl font-sans tracking-wider pb-6 uppercase">
                    Elevatori Per Disabili
                </div>
                <div class="swiper h-96 w-full">
                    <div class="swiper-wrapper">
                        {
                            elevatori[0].images.map( (image) => (
                                <div class="swiper-slide">
                                    <img
                                        class="object-contain rounded w-full h-full"
                                        src={`${elevatori[0].folder}${image}`}
                                    />
                                </div>
                            ))
                        }
                    </div>
                    <div class="swiper-pagination"></div>
            
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="card-actions justify-center mt-6">
                    {
                        elevatori.map( (elevatore) => 
                            <button class="btn uppercase btn-xs btn-primary text-neutral-content"
                                onclick={`updateSlider(${galleries.indexOf(elevatore)})`}
                            >{elevatore.title}</button>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination, Autoplay, Manipulation  } from "swiper/modules";
    import { galleries }  from "../data/galleries";

    const swipers = new Swiper(".swiper", {
        modules: [Navigation, Pagination, Autoplay, Manipulation ],
        loop: true,
        // autoplay: {
        //     delay: 5000,
        //     disableOnInteraction: true,
        // },
        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    const updateSlider = (galleryId) => {
        var swiperId = galleries[galleryId].category == 'Ascensori' || galleries[galleryId].category == 'Incastellature' ? 0 : 1;
        swipers[swiperId].removeAllSlides();
        swipers[swiperId].prependSlide(Array.from(galleries[galleryId].images, image => {
            return `
                <div class="swiper-slide">
                    <img
                        class="object-contain rounded w-full h-full"
                        src="${galleries[galleryId].folder}${image}"
                    />
                </div>
            `
        }));
    };

    window.updateSlider = updateSlider;
</script>
